#leftCol {
    padding-top: 20px;
}

.admin-page-header {
    padding-bottom: 10px;
    border-bottom: 1px solid #eee;
}

.admin-action-buttons {
    padding-top: 10px;
}

input[type="checkbox"] {
    position: relative;
    top: 2px;
}
input[type="radio"] {
    position: relative;
    top: 1px;
}