<section data-ng-controller="UserJobsController" data-ng-init="getAllJobs()">
    <div class="job-details-header-container">
        <h1>{{jobListTitle}}</h1>
    </div>
    <br>

    <div class="alert alert-warning text-center" data-ng-hide="jobs.length">
        Todav&#237;a no tienes ningun trabajo{{jobStatusLabel}}
    </div>

    <div data-ng-repeat="job in jobs" class="col-sm-4 col-lg-4 col-md-4 no-padding-left">
        <div class="thumbnail">
            <img src="http://placehold.it/320x150" alt="">
            <div class="job-details-container">
                <h4 class="pull-right status-label">{{job.status.name}}</h4>
                <h4 class="job-name-container">
                    <a href="" data-ng-click="navigateToJobDetails(job._id)">{{job.name}}</a>
                </h4>
                <div class="job-description-container">{{job.description}}</div>
                <strong>Prestador de servicios:</strong><br>
                <span>{{ job.service_supplier.display_name }}</span>
            </div>
            <div class="ratings">
                <p class="pull-right">
                    <ng-pluralize count="job.reviewCount"
                                  when="{'0': '0 comentarios',
                                     '1': '{{job.reviewCount}} comentario',
                                     'other': '{{job.reviewCount}} comentarios'}">
                    </ng-pluralize>
                </p>
                <p>
                    <span class="glyphicon glyphicon-star"></span>
                    <span class="glyphicon glyphicon-star"></span>
                    <span class="glyphicon glyphicon-star"></span>
                    <span class="glyphicon glyphicon-star"></span>
                    <span class="glyphicon glyphicon-star"></span>
                </p>
            </div>
        </div>
    </div>

</section>