<section data-ng-controller="UserJobsController">
    <div class="job-details-header-container">
        <h1>Nuevo trabajo</h1>
    </div>
    <br>
    <uib-alert type="{{alerts.type}}" close="alerts.close()" data-ng-show="alerts.visible" class="custom-alert">{{alerts.msg}}</uib-alert>

    <div class="col-md-12">
        <form class="form-horizontal" data-ng-submit="create()" novalidate>
            <fieldset>

                <div class="form-group">

                    <div class="row">
                        <div class="col-md-3">
                            <label class="control-label">Fecha de inicio</label>
                            <p class="input-group">
                                <input type="text" class="form-control" uib-datepicker-popup="{{dateFormat}}" data-ng-model="start_date"
                                       min-date="today" show-button-bar="false" is-open="startDateOpened"
                                       data-ng-required="true" />
                                <span class="input-group-btn">
                                    <button id="startDateButton" type="button" class="btn btn-default" data-ng-click="openStartDatePicker($event)">
                                        <i class="glyphicon glyphicon-calendar"></i>
                                    </button>
                                  </span>
                            </p>
                        </div>

                        <div class="col-md-3">
                            <label class="control-label">Fecha estimada</label>
                            <p class="input-group">
                                <input type="text" class="form-control" uib-datepicker-popup="{{dateFormat}}" data-ng-model="expected_date"
                                       min-date="start_date" show-button-bar="false" is-open="expectedDateOpened"
                                       data-ng-required="true" />
                                <span class="input-group-btn">
                                    <button id="expectedDateButton" type="button" class="btn btn-default" data-ng-click="openExpectedDatePicker($event)">
                                        <i class="glyphicon glyphicon-calendar"></i>
                                    </button>
                                  </span>
                            </p>
                        </div>

                        <div class="pull-right">
                            <div class="col-md-3">
                                <label class="control-label">Estado</label><br>
                                <div class="btn-group" uib-dropdown>
                                    <button type="button" class="btn btn-default" uib-dropdown-toggle data-ng-disabled="true">
                                        {{defaultStatus.name}} <span class="caret"></span>
                                    </button>
                                    <ul class="uib-dropdown-menu" role="menu">
                                        <li data-ng-repeat="status in jobstatuses">
                                            <a class="dropdown-item">{{status.name}}</a>
                                        </li>
                                    </ul>
                                </div>

                            </div>
                        </div>
                    </div>

                    <label class="control-label" for="name">Prestador de servicios</label>
                    <div class="controls">
                        <input type="text" data-ng-model="selectedServiceSupplier" class="form-control" required
                               uib-typeahead="servicesupplier as servicesupplier.display_name for servicesupplier in servicesuppliers | filter:$viewValue | limitTo:8">
                    </div>

                    <label class="control-label" for="name">Nombre</label>
                    <div class="controls">
                        <input type="text" data-ng-model="name" id="name" class="form-control" placeholder="Nombre" required>
                    </div>
                    <label class="control-label" for="description">Descripci&#243;n</label>
                    <div class="controls">
                        <textarea name="description" data-ng-model="description" id="description" class="form-control" cols="30" rows="5" placeholder="Descripci&#243;n"></textarea>
                    </div>
                </div>
                <div class="form-group">
                    <input type="submit" class="btn btn-default pull-right" value="Crear">
                </div>
            </fieldset>
        </form>
    </div>
</section>