<div class="row">
    <div class="col-md-3">

        <p class="lead">Mis Trabajos</p>
        <div class="list-group">
            <a ui-sref=".create" class="list-group-item">Crear trabajo</a>
            <a ui-sref=".list({ status: 'all' })" class="list-group-item">Todos los trabajos</a>
            <a ui-sref=".list({ status: 'active' })" class="list-group-item">Trabajos activos</a>
            <a ui-sref=".list({ status: 'finished' })" class="list-group-item">Trabajos terminados</a>
        </div>

    </div>
    <div class="col-md-9">
        <section data-ui-view></section>
    </div>
</div>