<div class="row" data-ng-controller="UserJobsController">
    <div class="col-md-3">

        <p class="lead">Mis Trabajos</p>
        <div class="list-group">
            <a ui-sref=".create" class="list-group-item">Crear trabajo</a>
            <a ui-sref=".list({ status: 'all', currentPage: 1 })" class="list-group-item">Todos los trabajos</a>
            <a ui-sref=".list({ status: 'active', currentPage: 1 })" class="list-group-item">Activos</a>
            <a ui-sref=".list({ status: 'finished', currentPage: 1 })" class="list-group-item">Terminados</a>
            <a ui-sref=".list({ status: 'pending', currentPage: 1 })" class="list-group-item">Pendientes de aprobaci&#243;n</a>
            <a data-ng-show="reportedJobs" ui-sref=".list({ status: 'reported', currentPage: 1 })" class="list-group-item">Reportados</a>
        </div>

    </div>
    <div class="col-md-9">
        <section data-ui-view></section>
    </div>
</div>