.service-supplier-img-container {
    padding: 10px;
    width: 36%;
}

.service-supplier-img {
    height: 212px;
    box-shadow: 1px 1px 10px -3px rgba(0, 0, 0, .35);
    border-radius: 5%;
}

.service-supplier-details-container {
    width: 100%;
    position: relative;
    padding-bottom: 40px;
}

.service-supplier-rating-count {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.service-supplier-header-container {
    border-bottom: 1px solid #eee;
    height: 50px;
    position: relative;
}

.create-job-button-container, .leave-review-button-container {
    padding-top: 5px;
}

.reviews-label-container {
    font-size: 20px;
    position: absolute;
    top: 15px;
}