<div class="row">
    <div class="col-md-3" id="leftCol">

        <div class="list-group">
            <a ui-sref=".listUsers({ currentPage: 1, itemsPerPage: 5 })" class="list-group-item">Usuarios</a>
            <a ui-sref=".listServiceSuppliers({ currentPage: 1, itemsPerPage: 5 })" class="list-group-item">Prestadores de servicios</a>
            <a ui-sref=".listServiceCategories({ currentPage: 1, itemsPerPage: 5 })" class="list-group-item">Categor&#237;as de servicios</a>
            <a ui-sref=".listServiceSubcategories({ currentPage: 1, itemsPerPage: 5 })" class="list-group-item">Subcategor&#237;as de servicios</a>
            <a ui-sref=".listJobStatus({ currentPage: 1, itemsPerPage: 5 })" class="list-group-item">Estados de trabajo</a>
            <a ui-sref=".listRatingTypes({ currentPage: 1, itemsPerPage: 5 })" class="list-group-item">Tipos de rating</a>
            <a ui-sref=".listJobs({ currentPage: 1, itemsPerPage: 5 })" class="list-group-item">Trabajos</a>
            <a ui-sref=".listReviews({ currentPage: 1, itemsPerPage: 5 })" class="list-group-item">Rese&#241;as</a>
        </div>

    </div>
    <div class="col-md-9">
        <section data-ui-view></section>
    </div>
</div>