<section data-ng-controller="JobsController" data-ng-init="findOne()">

	<uib-alert type="{{alerts.type}}" close="alerts.close()" data-ng-show="alerts.visible" class="custom-alert">{{alerts.msg}}</uib-alert>

	<div class="admin-page-header">
		<h1 data-ng-bind="job.name"></h1>
	</div>

	<h3>Descripci&#243;n</h3>
	<p>{{job.description}}</p>
	<h3>Detalles</h3>
	<ul class="job-detail-list-container">
		<li><strong>Fecha de inicio: </strong>{{job.start_date | date: 'shortDate'}}</li>
		<li><strong>Fecha estimada: </strong>{{job.expected_date | date: 'shortDate'}}</li>
		<li><strong>Fecha de finalizaci&#243;n: </strong>{{job.finish_date ? job.finish_date : '-' | date: 'shortDate'}}</li>
		<li><strong>Estado: </strong>{{job.status.name}}</li>
		<li><strong>Prestador de servicios: </strong>{{job.service_supplier.display_name}}</li>
	</ul>

	<div class="pull-right">
		<a class="btn btn-primary" ui-sref="admin.editJob({ jobId: job._id })">
			<i class="glyphicon glyphicon-edit"></i>
		</a>
		<a class="btn btn-primary" data-ng-click="openDeleteModal();">
			<i class="glyphicon glyphicon-trash"></i>
		</a>
	</div>

	<script type="text/ng-template" id="deleteJobModal">
		<div class="modal-header">
			<h3 class="modal-title">Eliminar trabajo</h3>
		</div>
		<div class="modal-body">
			Est&#225;s seguro de que quieres eliminar el trabajo?
		</div>
		<div class="modal-footer">
			<button class="btn btn-primary" type="button" data-ng-click="ok()">OK</button>
			<button class="btn btn-default" type="button" data-ng-click="cancel()">Cancelar</button>
		</div>
	</script>

</section>
