<section data-ng-controller="ReviewsController">
    <div class="admin-page-header">
        <h1>Nueva Rese&#241;a</h1>
    </div>

    <uib-alert type="{{alerts.type}}" close="alerts.close()" data-ng-show="alerts.visible" class="custom-alert">{{alerts.msg}}</uib-alert>

    <div class="col-md-12">
        <form class="form-horizontal" data-ng-submit="create()" novalidate>
            <fieldset>
                <div class="form-group">

                    <label class="control-label">Usuario</label>
                    <div class="controls">
                        <input type="text" data-ng-model="selectedUser" class="form-control" required
                               uib-typeahead="user as user.displayName for user in users | filter:$viewValue | limitTo:8" placeholder="Selecciona un usuario.">
                    </div>

                    <label class="control-label">Prestador de servicios</label>
                    <div class="controls">
                        <input type="text" data-ng-model="selectedServiceSupplier" class="form-control" typeahead-on-select="selectServiceSupplier($item)"
                               uib-typeahead="servicesupplier as servicesupplier.display_name for servicesupplier in servicesuppliers | filter:$viewValue" placeholder="Selecciona un prestador de servicios.">
                    </div>

                    <div data-ng-show="jobs.length">
                        <label class="control-label">Trabajo</label>
                        <div class="controls">
                            <input type="text" data-ng-model="selectedJob" class="form-control"
                                   uib-typeahead="job as job.name for job in jobs | filter:$viewValue | limitTo:8" placeholder="Selecciona un trabajo.">
                        </div>
                    </div>

                    <label class="control-label">Servicios</label>
                    <input type="text" data-ng-model="selected" class="form-control review-service-selector" typeahead-on-select="selectService($item, selectedservices)"
                           uib-typeahead="servicesubcategory as servicesubcategory.name for servicesubcategory in servicesubcategories | filter:$viewValue | limitTo:8"
                           placeholder="Selecciona un servicio.">

                    <div data-ng-show="selectedservices.length" class="review-selected-services">
                        <button data-ng-click="deleteSelectedService($index, selectedservices)" type="button" class="btn btn-default review-selected-service"
                                data-ng-repeat="selectedservice in selectedservices">
                            <span class="glyphicon glyphicon-remove" aria-hidden="true"></span> {{selectedservice.name}}</button>
                    </div>

                    <label class="control-label">Ratings</label>
                    <div data-ng-repeat="rating in ratings">
                        {{rating.name}}
                        <div class="pull-right">
                            <uib-rating data-ng-model="rating.rate" max="5" class="review-rating-selector"></uib-rating>{{rating.rate}} Estrellas
                        </div>
                    </div>

                    <label class="control-label" for="comment">Comentario</label>
                    <div class="controls">
                        <textarea id="comment" data-ng-model="comment" class="form-control" cols="30" rows="4" placeholder="Deja un comentario."></textarea>
                    </div>
                </div>

                <div class="form-group">
                    <input type="submit" value="Crear" class="btn btn-default">
                </div>
            </fieldset>
        </form>
    </div>
</section>