<div class="service-supplier-header-container">
    <div class="pull-right create-job-button-container" data-ng-show="authentication.user">
        <a ui-sref="jobs.create({ servicesupplierId: servicesupplier._id })" class="btn btn-primary">Crear trabajo</a>
    </div>
    <h1>Detalles</h1>
</div>
<br>
<div class="thumbnail flex-display">

    <div class="service-supplier-img">
        <img src="http://placehold.it/280x320" alt="">
    </div>
    <div class="service-supplier-details-container">
        <div class="caption-full">
            <strong class="pull-right">
                <ng-pluralize count="jobs.length"
                              when="{'0': '0 trabajos',
                                     '1': '{{jobs.length}} trabajo',
                                     'other': '{{jobs.length}} trabajos'}">
                </ng-pluralize>
            </strong>
            <small class="list-group-item-text">
                Miembro desde
                <span data-ng-bind="servicesupplier.registration_date | date:'shortDate'"></span>
            </small>
            <h4><a href="">{{servicesupplier.display_name}}</a></h4>
            <p>{{servicesupplier.description}}</p>

            <strong>Email: </strong> {{servicesupplier.email}}<br>
            <strong>Tel&#233;fono: </strong> {{servicesupplier.phone_number}}<br><br>

            <label class="control-label">Servicios</label>
            <div data-ng-repeat="servicesubcategory in servicesupplier.services">
                - {{servicesubcategory.name}}<br>
            </div>
        </div>

        <div class="ratings">
            <p class="pull-right">
                <button type="button" class="btn btn-default btn-sm">
                    <span class="glyphicon glyphicon-thumbs-up"></span> Me Gusta
                </button>
            </p>
            <p>
                <span class="label label-success">1 Terminados</span>
                <span class="label label-primary">1 En Progreso</span>
                <span class="label label-danger">0 Abandonados</span>
            </p>
        </div>

        <div class="ratings service-supplier-rating-count">
            <p class="pull-right">
                <ng-pluralize count="reviews.length"
                              when="{'0': '0 comentarios',
                                     '1': '{{reviews.length}} comentario',
                                     'other': '{{reviews.length}} comentarios'}">
                </ng-pluralize>
            </p>
            <p>
                <uib-rating data-ng-model="servicesupplier.overall_rating" max="max" readonly="true" on-hover="hoveringOver(value)" on-leave="overStar=null"></uib-rating>
                <span>{{servicesupplier.overall_rating}} estrellas</span>
            </p>
        </div>

    </div>

</div>

<div class="service-supplier-header-container">
    <div class="pull-right leave-review-button-container" data-ng-show="authentication.user">
        <a data-ng-click="openReviewModal()" class="btn btn-success">Deja un comentario</a>
    </div>
    <div class="reviews-label-container">Comentarios recientes</div>
</div>
<br>
<div class="well">

    <div data-ng-hide="reviews.length">No hay comentarios</div>

    <div class="row" data-ng-repeat="review in reviews">
        <div class="col-md-12">
            <br>
            <span class="glyphicon glyphicon-star"></span>
            <span class="glyphicon glyphicon-star"></span>
            <span class="glyphicon glyphicon-star"></span>
            <span class="glyphicon glyphicon-star"></span>
            <span class="glyphicon glyphicon-star-empty"></span>
            An&#243;nimo
            <span class="pull-right">
                <span class="glyphicon glyphicon-time"></span>
                {{ review.created | date: 'medium' }}
            </span>
            <p>{{review.comment}}</p>
        </div>
    </div>

</div>
