.pagination-container {
    clear: both;
}

.job-details-container {
    padding: 10px;
}

.job-name-container {
    height: 30px;
    font-size: 16px;
    padding-right: 10px;

    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.job-description-container {
    min-height: 60px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.job-detail-list-container {
    padding-left: 20px;
}

.review-services-title {
    border-bottom: 1px solid #eee;
    margin: 0 0 5px 0;
}

.review-service-selector {
    margin-bottom: 5px;
}

.review-selected-services {
    padding-bottom: 10px;
}

.review-selected-service {
    margin-right: 5px;
}

.review-ratings-title {
    border-bottom: 1px solid #eee;
    margin: 20px 0 5px 0;
}

.review-ratings-container {
    padding: 5px 10px 10px 10px;
}

.review-rating-selector {
    cursor: pointer;
}

.upload-image-header-container {
    border-bottom: 1px solid #eee;
    height: 50px;
    position: relative;
}

.btn-upload-image {
    padding-top: 5px;
}

.btn-report {
    margin-right: 5px;
}

.thumb {
    width: 24px;
    height: 24px;
}

.progress {
    margin-bottom: 5px !important;
}

.drop-box {
    background: #F8F8F8;
    border: 5px dashed #DDD !important;
    width: 300px;
    text-align: center;
    padding: 25px;
    margin: 0 auto 10px auto;
}

.dragover {
    border: 5px dashed #808080 !important;
}

.slide-container {
    margin: 0 auto;
}

.job-thumbnail {
    height: 180px;
    padding-bottom: 5px;
}

.job-small-img {
    border-radius: 5px;
    box-shadow: 5px 5px 10px 1px rgba(0, 0, 0, .35);
}

.job-big-img {
    box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, .35);
}

.label-paused {
    background-color: tan;
}

.status-label {
    margin-left: 3px;
    margin-top: 2px;
    padding: 4px;
}

.job-img-upload-detail-container {
    width: 80%;
    margin: 0 auto;
}

.job-img-progres-container {
    font-size: smaller;
    padding-top: 5px;
}

.img-upload-error {
    color: red;
    font-size: smaller;
}

.job-img-upload-thumbnail {
    padding-bottom: 5px;
}

.upload-requirements-container {
    padding-top: 10px;
}

.opened-img {
    margin: 0 auto;
}

.job-details-header-container {
    border-bottom: 1px solid #eee;
}

.job-images-label-container {
    font-size: 20px;
    position: absolute;
    top: 15px;
}