<section data-ng-controller="JobStatusController" data-ng-init="findOne()">
    <div class="admin-page-header">
        <h1>Editar Estado de trabajo</h1>
    </div>

    <uib-alert type="{{alerts.type}}" close="alerts.close()" data-ng-show="alerts.visible" class="custom-alert">{{alerts.msg}}</uib-alert>

    <div class="col-md-12">
        <form class="form-horizontal" data-ng-submit="openEditModal()" novalidate>
            <fieldset>
                <div class="form-group">
                    <label class="control-label" for="name">Nombre</label>
                    <div class="controls">
                        <input type="text" data-ng-model="jobstatus.name" id="name" class="form-control" placeholder="Nombre">
                    </div>
                </div>
                <div class="form-group">
                    <input type="submit" value="Actualizar" class="btn btn-default">
                </div>
            </fieldset>
        </form>
    </div>

    <script type="text/ng-template" id="editJobStatusModal">
        <div class="modal-header">
            <h3 class="modal-title">Editar Estado de trabajo</h3>
        </div>
        <div class="modal-body">
            Est&#225;s seguro de que quieres actualizar el estado de trabajo?
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" type="button" data-ng-click="ok()">OK</button>
            <button class="btn btn-default" type="button" data-ng-click="cancel()">Cancelar</button>
        </div>
    </script>

</section>