<section data-ng-controller="JobStatusController" data-ng-init="findOne()">

	<uib-alert type="{{alerts.type}}" close="alerts.close()" data-ng-show="alerts.visible" class="custom-alert">{{alerts.msg}}</uib-alert>

	<div class="admin-page-header">
		<h1 data-ng-bind="jobstatus.name"></h1>
	</div>
	<div class="pull-right">
		<a class="btn btn-primary" ui-sref="admin.editJobStatus({ jobstatusId: jobstatus._id })">
			<i class="glyphicon glyphicon-edit"></i>
		</a>
		<a class="btn btn-primary" data-ng-click="openDeleteModal();">
			<i class="glyphicon glyphicon-trash"></i>
		</a>
	</div>

	<script type="text/ng-template" id="deleteJobStatusModal">
		<div class="modal-header">
			<h3 class="modal-title">Eliminar Estado de trabajo</h3>
		</div>
		<div class="modal-body">
			Est&#225;s seguro de que quieres eliminar el estado de trabajo?
		</div>
		<div class="modal-footer">
			<button class="btn btn-primary" type="button" data-ng-click="ok()">OK</button>
			<button class="btn btn-default" type="button" data-ng-click="cancel()">Cancelar</button>
		</div>
	</script>

</section>
