<section data-ng-controller="RatingTypesController">
    <div class="admin-page-header">
        <h1>Nuevo Tipo de rating</h1>
    </div>

    <uib-alert type="{{alerts.type}}" close="alerts.close()" data-ng-show="alerts.visible" class="custom-alert">{{alerts.msg}}</uib-alert>

    <div class="col-md-12">
        <form class="form-horizontal" data-ng-submit="create()" novalidate>
            <fieldset>
                <div class="form-group">
                    <label class="control-label" for="name">Nombre</label>
                    <div class="controls">
                        <input type="text" data-ng-model="name" id="name" class="form-control" placeholder="Nombre">
                    </div>
                    <label class="control-label" for="description">Descripci&#243;n</label>
                    <div class="controls">
                        <textarea name="description" data-ng-model="description" id="description" class="form-control" cols="30" rows="5" placeholder="Descripci&#243;n"></textarea>
                    </div>
                </div>
                <div class="form-group">
                    <input type="submit" class="btn btn-default" value="Crear">
                </div>
            </fieldset>
        </form>
    </div>
</section>