<section data-ng-controller="MessagesController">
    <div class="">
        <h1>Nuevo Mensaje</h1>
    </div>
    <div class="col-md-12">
        <form class="form-horizontal" data-ng-submit="create()" novalidate>
            <fieldset>
                <div class="form-group">

                    <label class="control-label">Prestador de servicios</label>
                    <div class="controls">
                        <input type="text" data-ng-model="selectedServiceSupplier" class="form-control" required placeholder="Escribe el nombre del destinatario aqui."
                               uib-typeahead="servicesupplier as servicesupplier.display_name for servicesupplier in servicesuppliers | filter:$viewValue | limitTo:8">
                    </div>

                    <label class="control-label" for="content">Contenido</label>
                    <div class="controls">
                        <textarea name="content" data-ng-model="content" id="content" class="form-control" cols="30" rows="5" placeholder="Escribe tu mensaje aqui."></textarea>
                    </div>
                </div>
                <div class="form-group">
                    <input type="submit" class="btn btn-default pull-right" value="Enviar">
                </div>
				<div data-ng-show="error" class="text-danger">
					<strong data-ng-bind="error"></strong>
				</div>
            </fieldset>
        </form>
    </div>
</section>