<section data-ng-controller="MessagesController" data-ng-init="find()">
    <div class="messages-header-container">
        <h1>Mensajes</h1>
    </div>
    <div class="list-group">
        <a data-ng-repeat="message in messages" data-ng-href="#!/messages/{{message._id}}" class="list-group-item">
			<small class="list-group-item-text">
				Posted on
				<span data-ng-bind="message.created | date:'medium'"></span>
				by
				<span data-ng-bind="message.user.displayName"></span>
			</small>
			<h4 class="list-group-item-heading" data-ng-bind="message.name"></h4>
        </a>
    </div>
    <div class="alert alert-warning text-center" data-ng-hide="!messages.$resolved || messages.length">
        No tienes ningun mensaje. <a href="/#!/messages/create">Quieres enviar uno</a>?
    </div>
</section>