<section data-ng-controller="MessagesController" data-ng-init="find()">
    <div class="messages-header-container">
        <h1>{{messageListTitle}}</h1>
    </div>
    <br>
    <uib-alert type="{{alerts.type}}" close="alerts.close()" data-ng-show="alerts.visible" class="custom-alert">{{alerts.msg}}</uib-alert>

    <div class="alert alert-warning text-center" data-ng-hide="!messages.$resolved || messages.length">
        No tienes ningun mensaje. <a ui-sref="messages.create">Quieres enviar uno</a>?
    </div>

    <div class="list-group">
        <a data-ng-repeat="message in messages" ui-sref="messages.view({ messageId: message._id })" class="list-group-item" data-ng-class="{'message-read': (!message.read && messagesCondition == 'received')}">
            <small class="list-group-item-text">
                Enviado el
                <span data-ng-bind="message.created | date:'medium'"></span>
                <span data-ng-show="messagesCondition =='sent'">
                    a
                    <b data-ng-bind="message.to.displayName"></b>
                </span>
                <span data-ng-show="messagesCondition =='received'">
                    por
                    <b data-ng-bind="message.from.displayName"></b>
                </span>
            </small>
			<h4 class="list-group-item-heading" data-ng-bind="message.content"></h4>
        </a>
    </div>
</section>