<div class="row">
    <div class="col-md-3">

        <p class="lead">Mensajes</p>
        <div class="list-group">
            <a ui-sref=".create" class="list-group-item">Crear mensaje</a>
            <a ui-sref=".list()" class="list-group-item">Todos los mensajes</a>
            <a ui-sref=".list()" class="list-group-item">Mensajes leidos</a>
            <a ui-sref=".list()" class="list-group-item">Mensajes enviados</a>
        </div>

    </div>
    <div class="col-md-9">
        <section data-ui-view></section>
    </div>
</div>